html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	color: #c0ccd4;
	background-color: #fff;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Cardo', serif;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
   }
